<section class="content invoice">
  <div class="row">
    <div class="col-md-10">
      <%= nested_form_for @movement do |f|  %>
        <% if @movement.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
            <ul>
            <% @movement.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

      <form class="form-horizontal">

      <p class="text-primary"><i class="">* Campos obligatorios</i></p>
      <br>

      <div class="field col-md-12 form-group"> 
        <div class="field col-md-6 form-group required">
          <%= f.label :fecha, :class=> 'col-md-4 control-label' %>
          <div class="input-group col-md-6">
            <%= f.text_field :fecha, :class => 'input-group date form-control'%><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
        </div>

        <div class="field col-md-4 form-group">
          <%= f.label 'Cliente', :class=> 'col-md-4 control-label' %>
          <div class="col-md-7">
            <%= f.collection_select :person_id, Person.all.order('nombre'), :id, :nombre, {prompt: "Ninguno"} ,:class => 'btn btn-default'%>
          </div>
      </div>

      </div>

  

      <br>

      <table class="table">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= f.fields_for :d_movements, :wrapper => false do |detalle| %>
            <tr class="fields">
              <td><%= detalle.collection_select :product_id, Product.all, :id, :nombre, {prompt: "Seleccione un producto"} ,:class => 'btn btn-default'%></td>
              <td><%= detalle.number_field :cantidad %></td>
              <td><%= detalle.link_to_remove "X", :class => 'btn btn-danger'%></td>
            </tr>
          <% end %>
          <tr>
             <td><%= f.link_to_add "Producto", :d_movements, :class => 'insert_in_table btn btn-success' %></td>
          </tr>
        </tbody>
      </table>

      <div class="form-group">
        <%= f.submit 'Agregar', class: 'btn btn-primary' %>
        <%= link_to 'Cancelar',  movements_path , class: 'btn btn-default margen' %>
      </div>
    <% end %>

      </form>
    </div>
  </div>
</section> 