<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Ver <small>movimiento</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li><%= link_to "Movimientos", movements_path %></li>
      <li class="active">Ver</li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <%= link_to movements_path, :class => 'btn btn-primary' do %>
              <span class="fa fa-chevron-left"></span>
              Atras
            <% end %> 
            <%= link_to movement_path(@movement, format: "pdf"), :class => 'btn btn-success' , title: 'Imprimir', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                <span class= "fa fa-print"></span>
            <% end %>         
          </div>
        </div>
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt>Fecha:</dt>
            <dd><%= @movement.fecha %></dd>

            <dt>Cliente:</dt>
            <dd><%= @movement.person_nombre %></dd>

            <br>
            <table  class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>Código</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
              </tr>
            </thead>
            <tfoot>
                <tr>
                    <th colspan="4" style="text-align:right">Total:</th>
                    <th > <%= number_to_currency(@movement.d_movements.sum(:total), unit: "")%> </th>
                </tr>
            </tfoot>
            <tbody>
              <%= content_tag_for(:tr, @movement.d_movements) do |detalle| %>
                <% product = Product.find(detalle.product_id) %>
                <td><%= product.codigo %></td>
                <td><%= product.nombre %></td>
                <td><%= detalle.precio %></td>
                <td><%= detalle.cantidad %></td>
                <td><%= detalle.total %></td>
              <% end %>
            </tbody>
          </table>


          </dl>
        </div>
      </div>
    </div>
  </div>
</section>

