<tr>
	<td><%= person.nombre %></td>
	<td><%= person.telefono %></td>
	<td><%= person.direccion %></td>
	<td><%= person.documento %></td>
	<td><%= person.tipo %></td> 
	<td class="row">
        <%= link_to person, class: 'btn btn-info', title: 'Ver', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
        	<span class= "fa fa-eye"></span>
        <% end %>

        <%= link_to edit_person_path(person), class: 'btn btn-success', title: 'Editar', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
            <span class= "fa fa-edit"></span>
        <% end %>

        <%= link_to person, method: :delete, data: { confirm: 'Esta seguro que desea eliminar este registro?' }, class: 'btn btn-danger', title: 'Eliminar', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
            <span class= "fa fa-trash"></span>
        <% end %>
    </td>
</tr>
