<section class="content invoice">
  <div class="row">
    <div class="col-md-10">

       <%= form_for @product, validate: true do |f| %>

        <% if @product.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
            <ul>
            <% @product.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

    <form class="form-horizontal">

    <p class="text-primary"><i class="">* Campos obligatorios</i></p>

    <div class="field col-md-12 form-group"></div>
    
    <div class="field col-md-12 form-group">
      <div class="field col-md-4 form-group">
        <%= f.label :codigo %>
        <%= f.text_field :codigo,:maxlength => 20, :class => "form-control", autofocus:true %>
      </div>
      <div class="field col-md-6 form-group required">
        <%= f.label :nombre, :class => 'control-label' %>
        <%= f.text_field :nombre,:maxlength => 50, :class => "form-control" %>
        </div>
      </div>
    
    <div class="field col-md-12 form-group">
      <div class="field col-md-4 form-group">
        <%= f.label :unidad_medida, "Unidad de medida" %>
        <%= f.text_field :unidad_medida,:maxlength => 20, :class => "form-control" %>
      </div>
      <div class="field col-md-8 form-group">
        <%= f.label :descripcion %>
        <%= f.text_field :descripcion,:maxlength => 80, :class => "form-control" %>
      </div>
    </div>

    <div class="field col-md-12 form-group">
      <div class="field col-md-4 form-group required">
        <%= f.label :costo, :class => 'control-label' %>
        <%= f.number_field :costo,:maxlength => 10, :class => "form-control" %>
      </div>
      <div class="field col-md-4 form-group required">
        <%= f.label :precio_venta, "Precio de Venta", :class => 'control-label'%>
        <%= f.number_field :precio_venta,:maxlength => 10, :class => "form-control" %>
      </div>
      <div class="field col-md-4 form-group required">
        <%= f.label :cantidad, :class => 'control-label' %>
        <%= f.number_field :cantidad,:maxlength => 10, :class => "form-control" %>
      </div>
    </div>

    <div class="field col-md-12 form-group">
      <div class="field col-md-3 form-group">
        <%= f.label :canitdad_min, "Cantidad Minima"%>
        <%= f.number_field :canitdad_min,:maxlength => 10, :class => "form-control" %>
      </div>
      <div class="field col-md-4 form-group required">
        <%= f.label :brand, "Marca", :class => 'control-label'%> <br class="">
              <select id="brand_ingreso" name="product[brand_id]" class="btn btn-default">

                 <% @brands.each do |brand| %>
                    <%= render partial: "brands/coleccion", locals: {brand: brand} %>
                 <% end %>
                 <% unless @brand.nil? %>
                   <option value= <%= @brand.id %> selected="selected"><%= @brand.nombre%></option>
                 <% end %>
              </select>
              <%= link_to "#modal-brand", "data-toggle" => "modal" , class: 'btn btn-primary' do %>
              <span class="glyphicon glyphicon-plus"></span>
              <% end %>
      </div>
      <div class="field col-md-5 form-group required">
        <%= f.label :category, "Categoria", :class => 'control-label'%> <br class="">
        <select id="category_ingreso" name="product[category_id]" class="btn btn-default">
                 <% @categories.each do |category| %>
                    <%= render partial: "categories/coleccion", locals: {category: category} %>
                <% end %>
                <% unless @category.nil? %>
                   <option value= <%= @category.id %> selected="selected"><%= @category.nombre%></option>
                 <% end %>
              </select>
              <%= link_to "#modal-category", "data-toggle" => "modal" , class: 'btn btn-primary' do %>
              <span class="glyphicon glyphicon-plus"></span>
              <% end %>
      </div>
    </div>

      <div class="form-group">
        <% if controller.action_name == 'edit'  %>
         <%= f.submit "Guardar", :class => "btn btn-primary" %>
        <% else %>
          <%= f.submit "Agregar", :class => 'btn btn-primary'%>
        <% end %>
          <%= link_to 'Cancelar',  products_path , class: 'btn btn-default' %>
        <% end %>
      </div>
      </div>
      </form> 
  </div>
</section> 

<%= render 'products/modals/marca' %>
<%= render 'products/modals/categoria' %>
