<section class="content invoice">
  <div class="row">
    <div class="col-md-10">
      <%= form_for(@product, :html => { :role => "form" }) do |f| %>
        <% if @product.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
            <h4><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h4>

            <ul>
            <% @product.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

    <form class="form-horizontal">
    
    <div class="field col-md-12 form-group">
      <div class="field col-md-4 form-group">
        <%= f.label :codigo %>
        <%= f.number_field :codigo, :class => "form-control" %>
      </div>
      <div class="field col-md-6 form-group">
        <%= f.label :nombre %>
        <%= f.text_field :nombre, :class => "form-control" %>
        </div>
      </div>
    
    <div class="field col-md-12 form-group">
      <div class="field col-md-4 form-group">
        <%= f.label :unidad_medida, "Unidad de medida" %>
        <%= f.text_field :unidad_medida, :class => "form-control" %>
      </div>
      <div class="field col-md-8 form-group">
        <%= f.label :descripcion %>
        <%= f.text_field :descripcion, :class => "form-control" %>
      </div>
    </div>

    <div class="field col-md-12 form-group">
      <div class="field col-md-4 form-group">
        <%= f.label :costo %>
        <%= f.text_field :costo, :class => "form-control" %>
      </div>
      <div class="field col-md-4 form-group">
        <%= f.label :precio_venta, "Precio de Venta"%>
        <%= f.text_field :precio_venta, :class => "form-control" %>
      </div>
      <div class="field col-md-4 form-group">
        <%= f.label :cantidad %>
        <%= f.number_field :cantidad, :class => "form-control" %>
      </div>
    </div>

    <div class="field col-md-12 form-group">
      <div class="field col-md-4 form-group">
        <%= f.label :canitdad_min, "Cantidad Minima"%>
        <%= f.number_field :canitdad_min, :class => "form-control" %>
      </div>
      <div class="field col-md-4 form-group">
        <%= f.label :brand, "Marca"%>
        <%= f.collection_select :brand_id, Brand.all, :id, :nombre, {prompt: "Seleccione una marca"} ,:class => "form-control"%>
      </div>
      <div class="field col-md-4 form-group">
        <%= f.label :category, "Categoria"%>
        <%= f.collection_select :category_id, Category.all, :id, :nombre, {prompt: "Seleccione una categoria"} ,:class => "form-control"%>
      </div>
    </div>

      <div class="form-group">
        <% if controller.action_name == 'edit'  %>
         <%= f.submit "Guardar", :class => "btn btn-primary" %>
        <% else %>
          <%= f.submit "Agregar", :class => 'btn btn-primary'%>
        <% end %>
      </div>
      </form> 
    <% end %>
    </div>
  </div>
</section> 