<tr>
	<td><%= product.codigo %></td>
              <td><%= disminuir(product.nombre)%></td>
              <td><%= product.unidad_medida %></td>
              <td><%= product.precio_venta %></td>
              <td><%= product.cantidad %></td>
              <td><%= product.brand_nombre %></td>
              <td><%= product.category_nombre %></td>
              <td>
                  <%= link_to product, class: 'btn btn-info', title: 'Ver', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                  <span class= "fa fa-eye"></span>
                  <% end %>

                  <%= link_to edit_product_path(product), class: 'btn btn-success', title: 'Editar', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                  <span class= "fa fa-edit"></span>
                  <% end %>

                  <%= link_to product, method: :delete, data: { confirm: 'Esta seguro que desea eliminar este registro?' }, class: 'btn btn-danger', title: 'Eliminar', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                  <span class= "fa fa-trash"></span>
                  <% end %>
              </td>
</tr>