<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Listing <small>products</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">products</li>
    </ol>    
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <%= link_to new_product_path(@product), :class => 'btn btn-success' do %>
              <span class="glyphicon glyphicon-plus"></span>
              New Product
            <% end %>          
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
              <th>Codigo</th>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Unidad medida</th>
              <th>Costo</th>
              <th>Precio venta</th>
              <th>Cantidad</th>
              <th>Canitdad min</th>
              <th>Brand</th>
              <th>Category</th>
                            <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%= content_tag_for(:tr, @products) do |product| %>
              <td><%= product.codigo %></td>
              <td><%= product.nombre %></td>
              <td><%= product.descripcion %></td>
              <td><%= product.unidad_medida %></td>
              <td><%= product.costo %></td>
              <td><%= product.precio_venta %></td>
              <td><%= product.cantidad %></td>
              <td><%= product.canitdad_min %></td>
              <td><%= product.brand %></td>
              <td><%= product.category %></td>
                            <td><%= link_to 'Show', product %></td>
                <td><%= link_to 'Edit', edit_product_path(product) %></td>
                <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

