<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Ver <small>producto</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li><%= link_to "Productos", products_path %></li>
      <li class="active">Ver</li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <%= link_to edit_product_path(@product), :class => 'btn btn-primary' do %>
              <span class="glyphicon glyphicon-pencil"></span>
              Editar
            <% end %>          
          </div>
        </div>
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt>Codigo:</dt>
            <dd><%= @product.codigo %></dd>

            <dt>Nombre:</dt>
            <dd><%= @product.nombre %></dd>

            <dt>Descripcion:</dt>
            <dd><%= @product.descripcion %></dd>

            <dt>Unidad medida:</dt>
            <dd><%= @product.unidad_medida %></dd>

            <dt>Costo:</dt>
            <dd><%= @product.costo %></dd>

            <dt>Precio venta:</dt>
            <dd><%= @product.precio_venta %></dd>

            <dt>Cantidad:</dt>
            <dd><%= @product.cantidad %></dd>

            <dt>Canitdad min:</dt>
            <dd><%= @product.canitdad_min %></dd>

            <dt>Brand:</dt>
            <dd><%= @product.brand_nombre %></dd>

            <dt>Category:</dt>
            <dd><%= @product.category_nombre %></dd>

          </dl>
        </div>
      </div>
    </div>
  </div>
</section>

