<section class="sidebar">
  <!-- Sidebar user panel -->
  <div class="user-panel">
    <div class="pull-left image">
      <img src="/img/avatar3.png" class="img-circle" alt="User Image" />
    </div>
    <div class="pull-left info">
      <p>Hello, Jane</p>

      <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
  </div>

  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
    <%= nav_link products_path do %>
      <i class="fa fa-angle-double-right"></i> <span>Productos</span>
    <% end %>
    <%= nav_link movements_path do %>
      <i class="fa fa-angle-double-right"></i> <span>Movimientos de Productos</span>
    <% end %>
    <%= nav_link people_path do %>
      <i class="fa fa-angle-double-right"></i> <span>Clientes-Proveedores</span>
    <% end %>
    <%= nav_link parameters_path do %>
      <i class="fa fa-angle-double-right"></i> <span>Configuraciones</span>
    <% end %>


    <%= treeview_link 'Lots of links here' do %>
      <%= nav_link "#" do %>
        <i class="fa fa-angle-double-right"></i>
        One Way
      <% end %>
      <%= nav_link "#" do %>
        <i class="fa fa-angle-double-right"></i>
        Another
      <% end %>
    <% end %>
  </ul>
</section>