<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Listing <small>parameters</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">parameters</li>
    </ol>    
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <%= link_to new_parameter_path(@parameter), :class => 'btn btn-success' do %>
              <span class="glyphicon glyphicon-plus"></span>
              New Parameter
            <% end %>          
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
              <th>Nombre</th>
              <th>Direccion</th>
              <th>Telefono</th>
              <th>Email</th>
              <th>Imagen</th>
              <th>Tiempo espera</th>
                            <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%= content_tag_for(:tr, @parameters) do |parameter| %>
              <td><%= parameter.nombre %></td>
              <td><%= parameter.direccion %></td>
              <td><%= parameter.telefono %></td>
              <td><%= parameter.email %></td>
              <td><%= parameter.imagen %></td>
              <td><%= parameter.tiempo_espera %></td>
                            <td><%= link_to 'Show', parameter %></td>
                <td><%= link_to 'Edit', edit_parameter_path(parameter) %></td>
                <td><%= link_to 'Destroy', parameter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

