<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Show <small>parameter</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><%= link_to "Parameters", parameters_path %></li>
      <li class="active">Show</li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <%= link_to edit_parameter_path(@parameter), :class => 'btn btn-primary' do %>
              <span class="glyphicon glyphicon-pencil"></span>
              Edit
            <% end %>          
          </div>
        </div>
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt>Nombre:</dt>
            <dd><%= @parameter.nombre %></dd>

            <dt>Direccion:</dt>
            <dd><%= @parameter.direccion %></dd>

            <dt>Telefono:</dt>
            <dd><%= @parameter.telefono %></dd>

            <dt>Email:</dt>
            <dd><%= @parameter.email %></dd>

            <dt>Imagen:</dt>
            <dd><%= @parameter.imagen %></dd>

            <dt>Tiempo espera:</dt>
            <dd><%= @parameter.tiempo_espera %></dd>

          </dl>
        </div>
      </div>
    </div>
  </div>
</section>

